.App{
  /* background-color: #123; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:20px;
  height: 100vh;
   color:white;
  
}
body{
  overflow: auto;
  background-color: rgb(28, 28, 199);
  color:white;
}
h1{
  padding-top: 25px;
}